name: test

on:
  push:
    branches:
      - "*"
    tags-ignore:
      - "*"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: npm install -g prettier
      - run: go install golang.org/x/tools/gopls@latest
      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          install-only: true
      - run: git clone --depth=1 https://github.com/skaji/go-ppi.git
      - run: make build
      - run: make lint
      - run: make test
